<form class="create-form" [formGroup]="workoutForm" (ngSubmit)="submitForm()">
  <input id="workoutName" type="text" pInputText placeholder="Название тренировки" formControlName="workoutName">
  <div class="form-controls">
    <input id="setsCount" type="text" pInputText placeholder="Количество подходов" formControlName="setsCount">
    <input id="cyclesCount" type="text" pInputText placeholder="Количество кругов" formControlName="cyclesCount">
  </div>
  <div class="form-controls">
    <input id="exerciseTimeout" type="text" pInputText placeholder="Время между упражнениями"
           formControlName="exerciseTimeout">
    <input id="setsCountTimeout" type="text" pInputText placeholder="Время между подходами"
           formControlName="setsCountTimeout">
    <input id="cyclesCountTimeout" type="text" pInputText placeholder="Время между циклами"
           formControlName="cyclesCountTimeout">
  </div>
  <div class="form-controls">
    <p-multiSelect
      [options]="exercises$ | async"
      [showClear]="true"
      placeholder="Упражнения"
      optionLabel="exerciseName"
      formControlName="exercises"
      appendTo="body"
      display="chip"></p-multiSelect>
    <p-dropdown
      [options]="types$ | async "
      optionValue="id"
      [showClear]="true"
      formControlName="workoutTypeId"
      placeholder="Тип тренировки"
      appendTo="body"
      [autoDisplayFirst]="false"
      optionLabel="typeName"></p-dropdown>
  </div>
  <div class="form-btns">
    <button pButton label="Добавить новое упражнение" (click)="navigateToExercise()"
            class="p-button-secondary"></button>

    <!--    <button pButton label="Добавить новый тип тренировки" class="p-button-secondary"></button>-->
    <button pButton label="Создать тренировку" class="p-button-success" type="submit"
            [disabled]="workoutForm.invalid"></button>
  </div>
</form>
