<form class="user-form">
  <div class="form-control">
    <label for="userName">Имя</label>
    <input id="userName" pInputText type="text">
  </div>
  <div class="form-control">
    <label for="userSurname">Фамилия</label>
    <input id="userSurname" pInputText type="text">
  </div>
  <div class="form-controls">
    <div class="form-control">
      <label for="profileType">Тип профиля</label>
      <input id="profileType" pInputText type="text">
    </div>
    <div class="form-control">
      <label for="login">Логин</label>
      <input id="login" pInputText type="text">
    </div>
  </div>
  <div class="btns">
    <button pButton label="Изменить данные"></button>
  </div>
</form>
