<p-table *ngIf="exercises$ | async as exercises" [value]="exercises" [columns]="columns">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let column of columns">
        {{column.header}}
      </th>
      <th>
        <button pButton icon="pi pi-plus" (click)="openCreateEditDialog(null)"></button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-exercise>
    <tr>
      <td *ngFor="let column of columns">
        {{exercise | exerciseTablePipe: column.field }}
      </td>
      <td>
        <div class="table-btns">
          <button pButton icon="pi pi-pencil" class="p-button-success"
                  (click)="openCreateEditDialog(exercise)"></button>
          <button pButton icon="pi pi-cloud-download" class="p-button-warning"></button>
          <button pButton icon="pi pi-trash" class="p-button-danger"></button>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td>Тренировки отсутствуют</td>
    </tr>
  </ng-template>
</p-table>
