<form class="user-statistics">
  <div class="form-control">
    <label for="activity">Активность на сайте</label>
    <input id="activity" pInputText type="text">
  </div>
  <div class="form-control">
    <label for="workouts">Создано тренировок</label>
    <input id="workouts" pInputText type="text">
  </div>
  <div class="form-control">
    <label for="exercises">Добавлено упражнений</label>
    <input id="exercises" pInputText type="text">
  </div>
  <div class="form-control">
    <label for="workouts-load">Загружено тренировок</label>
    <input id="workouts-load" pInputText type="text">
  </div>
  <div class="form-control">
    <label for="goals">Выполнено целей</label>
    <input id="goals" pInputText type="text">
  </div>
</form>
